dist/
!www/favicon.ico
www/
loader/

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/
tmp/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env

resources/android
resources/ios


.sourcemaps
.gradle/
.settings/
.project

*.map
.*.sw*
!/build/.npmkeep
lerna-debug.log
local.properties

Podfile.lock
contents.xcworkspacedata
xcuserdata/
Build/*
Index/
Pods/

android-template.iml
android-template/.gradle/
android-template/app/app.iml

# Logs
logs
*.log
**/logs/
npm-debug.log*
