.hidden {
    display: none;
}

ion-fab-button {
    --box-shadow: none;
    --background: none;
    --background-hover: none;
}

.snap-button {
    --background: rgba(255,255,255, 0.4);
}

.snap-button:active {
    transform: scale(0.9);
    transition: all 100ms;
}

.circle {
    font-size: 65px;
}

.camera-modal .modal-wrapper {
    width: 100%;
    height: 100%;
}

video {
    background-color: black;
}